@charset "UTF-8";

/*
基本設定bodyとaタグを全体的に指定しておく
*/
body {
    font-family: 'Avenir' , sans-serif;
    color: #303030;
    margin: 0;
}

a {
    color: #303030;
    text-decoration: none;
}

.price-table {
    border: solid;
    text-align: center;
}