@charset "UTF-8";

/*
基本設定bodyとaタグを全体的に指定しておく
*/
body {
    font-family: 'Avenir' , sans-serif;
    color: #303030;
    margin: 0;
}

a {
    color: #303030;
    text-decoration: none;
}

ul {
    margin: 0;
}

li {
    list-style: none;
    margin: 0;
}



/*
header
*/
.header {
    display:flex;
    justify-content: space-between;
}

h1 {
    margin: 0;
}

.header img {
    width: 200px;
}

.header ul li {
    background-color: #303030;
    color: white;
    font-size: small;
    padding: 15px 50px 15px 50px;
}


/*
insta
*/
.front-insta {
    position: fixed;
    bottom: 15px;
    right: 15px;
}
.front-insta img {
    width: 50px;
    height: 50px;
}

/*
frontview
*/

#frontview {
    display: flex;
    width: 100%;
}

#frontview picture {
    width: 65%;
    
}

#frontview picture img {
    width: 100%;
    height: 100%;
}

.frontview-txts {
    width: 35%;
    background-color: #00ABAE;
    color: white;
    text-align: center;
    position: relative;
}

.frontview-txt {
    position: absolute;
    top: 15%;
    left: 15%;
}

h2 {
    font-size: calc(100vw / 25);
    line-heigh:150%;
}

.frontview-txt-large {
    font-size: calc(100vw / 50);
    margin: 0;
}

.frontview-txts time {
    font-size: calc(100vw / 60);
    font-weight: bold;
}

/*
common
*/
.common-subtitle {
    color: #00ABAE;
    font-size: smaller;
    font-weight: bold;
    text-align: center;
    display: block;
}

.common-btn {
    margin: 50px 0 ;
    display: block;
    text-align: center;
}

.common-btn a {
    color: white;
    background-color: #303030;
    padding: 1% 2%;
    font-size: small;
}

.common-h3 {
    text-align: center;
}

/*
about
*/

#about {
    display: flex;
    margin: 10% 20%;
}

.about-txts {
    margin-right: 5%;
}

.about-txts h3 {
    font-size: calc(100vw / 50);
}

.about-txts p {
    font-size: smaller;
}

.about-img {
 width: 150%;
}

.about-img img{
    width: 100%;
}

/*
facility
*/

#facility {
    text-align: center;
}

.facility-icons {
    display: flex;
    justify-content: center;
    margin: 5% auto;
}
.facility-icon {
    margin-right: 2%;
}

.facility-map {
    background-color: #E5F7F7;
}

/*
feature
*/

#feature {
    margin: 10% 20%;
    justify-content: center;
}

#feature h4 {
    text-align: center;
}

#feature ul {
    display: flex;
    justify-content: space-between;
}

#feature ul li {
    width: 33%;
    margin-right: 2%;
}

#feature ul li img {
    width: 100%;
}

#feature ul li p {
    font-size: smaller;
}

.feature-txt {
    font-size: smaller;
    text-align: center;
}


/*
flow
*/

#flow {
    text-align: center;
    margin: 10% 20%;
}

#flow ul {
    display: flex;
    justify-content: space-between;
}

#flow ul li {
    margin-right: 5%;
}

#flow p {
    font-size: small;
}

/*
price
*/
.price-table-sp {
    display: none;
}

#price {
    background-color: #E5F7F7;
    padding: 8% 20%;
}

.price-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: smaller;
    margin: 10% auto;
}

.price-table th, td {
    text-align: center;
    padding: 1% 2% 1% 2%;
}

.black {
    background-color: black;
    color: white;
}

.gray td {
    background-color: #C9C7C7;
    font-weight: lighter;
    border: solid 0.5px #E1ECEE;
}

.blue {
    background-color: #E5F7F7;
    border: solid 0.5px #C9C7B4;
    font-weight: lighter;
}

.blue  td{
    border: solid 0.5px #C9C7B4;
}

.price-txt {
    font-size: small;
} 

#map {
    padding: 8% 20%;
}

#map img {
    width: 100%;
}

#map p {
    font-size: small;
    text-align: center;
}

.footer {
    background-image: url(../img/footer.png);
    height: 400px;

}

.footer p {
    text-align: center;
    font-size: small;
    color: white;
    background-size: cover;
}

@media screen and (max-width:767px) {
    .menu {
        display: none;
    }
    .header {
        display: block;
    }
    h1 {
        text-align: center;
    }
    .header img {
        margin: 3% 0;
        width: auto;
    }
    #frontview picture {
        width: 50%;
    }
    .frontview-txts {
        width: 50%;
    }
    .frontview-txt {
        position: absolute;
        top:5%;
        left: 5%;
    }
    .frontview-txt-large {
        font-size: calc(100vw / 30);
    }
    h2 {
        font-size: calc(100vw / 20);
    }
    .frontview-txt-small {
        font-size: calc(100vw / 50);
    }
    #about {
        display: block;
        margin: 10% 10%;
    }
    .about-txts h3 {
        font-size: calc(100vw / 20);
    }
    .about-img {
        display: none;
    }
    .facility-icon img {
        width: 100%;
    }
    .facility-icons {
        padding: 0;
        margin: 5% 1%;
    }
    .facility-map img {
        width: 100%;
    }
    #feature ul {
        display: block;
        padding: 0;
    }
    #feature {
        margin: 10% 2%;
    }
    #feature ul li {
        width: 100%;

    }
    .feature-txt {
        text-align: left;
    }
    .common-btn a {
        padding: 3% 5%;
        font-size: smaller;
    }
    #flow ul {
        display: block;
        padding: 0;
    }
    #flow {
        margin: 10% 2%;
        text-align: left;
    }
    #flow ul li h4 {
        text-align: center;
    }
    #price {
        padding: 8% 2%;
    }

    .price-table {
        display: none;
    }

    .price-table-sp {
        display: block;
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        font-size: smaller;
        margin: 10% auto;
    }
    
    .price-table-sp th, td {
        text-align: center;
        padding: 2% 0;
        width: 30%;
    }
    
    .black-sp {
        background-color: black;
        color: white;
    }
    
    .gray-sp th, td {
        background-color: #C9C7C7;
        font-weight: lighter;
        border: solid 0.5px #E1ECEE;
    }
    
    .blue-sp {
        background-color: #E5F7F7;
        border: solid 0.5px #C9C7B4;
        font-weight: lighter;
    }
    
    .blue-sp td {
        border: solid 0.5px #C9C7B4;
        background-color: #E5F7F7;
    }
    
    .price-txt {
        font-size: small;
    } 
    #map {
        padding: 8% 2%;
    }
    
}